{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/roomdetails.css' %}">

<style type='text/css'>

  body {
    background-image:url({% static 'SchoolImages/MainImages/Roombooking.png' %});
    background-size: cover;
    height: 100%;
    
  }
</style>
{% endblock %}

 

{% block content %}
     
<div class="wrapper my-5">
  

  <div class="blackbox">
    <div class="upper">
      {% for booking in bookings %}
        {% if booking.student.name == request.user.name %}
      <div class="card border-light mb-3" style="max-width: 18rem;">
        
        <div class="card-body">
          <h5 class="card-title">Room {{booking.room.room_number}}</h5>
          <h5 class="card-title">{{booking.hall}}</h5>
          <h5 class="card-title">{{booking.room.type}}</h5>

        </div>
      </div>
      {% if booking.paid == False %}
      <div>
      <a href="#"><button>Cancel</button></a>
      </div>
      <div>
       <form action="{% url 'charge' %}" method="POST">
          {% csrf_token %}
          <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{ key }}"
              data-amount="{{ booking.room.price }}"
              data-name="Payment Gateway"
              data-description="Payment Gateway"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-locale="auto">
          </script>
          </div>
          {% else %}
          <h3>PAID</h3>

      {% endif %}

  {% endif %}
  {% endfor %}
    </div>
    

    


      <div class="container mt-5">
        <table class="table table-striped table-hover table-bordered my-5">
            <tbody>
              <tr>
                <th scope="col">Room No </th>
                <th scope="col">Floor</th>
                <th scope="col">Room Type</th>
                <th scope="col">Action</th>
              </tr>
            </tbody>
            </table>
            </div>
          </div>     
    </div> 

{% endblock %}