{% extends 'base.html' %}

{% block content %}
   
<div>
    <span>Hello {{ booking.student }} you booked room {{booking.room}} in 
        {{booking.hall}} Hall on {{booking.date}}</span>
</div>
<div>
    <span>Paid: {{booking.paid}}</span>
    {% if booking.paid == False %}
        <a href="#">Cancel Booking</a>
         <!--<a href="{% url 'payment' %}">Pay</a> -->
         <form action="{% url 'charge' %}" method="POST">
            {% csrf_token %}
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="{{ key }}"
                data-amount="{{ booking.room.price }}"
                data-name="Payment Gateway"
                data-description="Payment Gateway"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
            </script>
    {% endif %}
{% endblock %}


