{% extends 'base.html' %}
{% load static %}

{% block styles %}

<style type="text/css">
    body{
        background-image:url({% static 'SchoolImages/MainImages/Roombooking.png' %});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
    
    }

    
</style>

<link rel="stylesheet" href="{% static 'css/HallSelection.css' %}">


{% endblock %}



{% block content %}

 
 <div class=" container">



    <div class="row row-col-md-2 row-cols-xl-3 g-4">
        {% for hall in halls %}
        <div class="col-lg-4 col-sm-12 col-md-6  ">
            <div class="col1">
                <a href="{% url 'rooms' hall.id %}">
                    <div class="sub-img">
                        <img src="{{hall.picture.url}}" alt="">
                        <p class="names">{{hall.name}}</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
  

{% endblock %}
