{% extends 'base.html' %}

{% load static %}

{% block styles %}
<style type="text/css">
  body {
    background-image: url({% static 'SchoolImages/MainImages/Roombooking.png' %});
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }

  .help-container {
    padding: 20px;
  }

  .help-title {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .help-text {
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .help-details {
    margin-top: 30px;
    border-top: 1px solid white;
    padding-top: 20px;
  }

  .help-details-title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .help-details-text {
    color: white;
    font-size: 16px;
  }

  .translucent-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
  }
</style>

{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="help-container">
        <div class="help-title text-dark">Help Desk</div>
        <div class="help-text text-dark">Email: knustedu.gamil.com<br>Phone: 0248587648</div>

        <div class="help-details translucent-container">
          <div class="help-details-title">STEPS TO BOOK ROOM</div>
          <div class="help-details-text">
            To book a room, go to the book room page. This can be accessed by clicking on the book room link on the home
            page.
            <br>
            1. Select the hall of preference
            <br>
            2. Select the floor and room preferred. Make sure to confirm the booking and proceed to the payment page.
            <br>
            3. Payments can be made based on the provided options.
          </div>
        </div>

        <div class="help-details translucent-container">
          <div class="help-details-title">ROOM DETAILS</div>
          <div class="help-details-text">
            The room details help you know your roommates. This section has all details about your roommates, their
            program of study, and contact information.
            <br><br>
            You can also cancel your room over here.
          </div>
        </div>

        <div class="help-details translucent-container">
          <div class="help-details-title text-danger">WARNING</div>
          <div class="help-details-text">
            Payments are not refundable.
            <br><br>
            Rooms would be lost after the 48 hours of the grace period.
            <br><br>
            Rooms canceled would attract a fee of Gh50 on the next booking.
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}
