{% extends 'base.html' %}

{% block styles%}
<style type="text/css">
.hall-img{
    width: 100%;
    height:25vh;
    object-fit: cover;
    object-position: center;
}
</style>

{% endblock %}

{% block content %}
<div class="wrapper">


  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      {% for image in images %}
      <div class="carousel-item">
        <img src={{hall.picture.url}} class="d-block w-100" alt="...">
      </div>
    </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{% comment %} <div>
  <img src={{hall.picture.url}} class="img-fluid hall-img" alt="hall image">
</div> {% endcomment %}


<div class="container">
<table class="table table-striped table-hover table-bordered my-5">
    <thead>
      <tr>
        <th scope="col">Room No </th>
        <th scope="col">Floor</th>
        <th scope="col">Room Type</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for room in rooms %}
      <tr> 
           <td>  {{room.room_number}}</td>
            <td>{{room.floor}}</td>
            <td>{{room.type}}</td>
            <td><a href="{% url 'booking' room.id %}">
              <button type="button" class="btn btn-secondary">Book</button>
            </a></td>
        </tr> 
        {% endfor %}
    </tbody>
    </table>
    </div>
  </div>
{% endblock %}
```