{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/RoomSelection.css' %}">
    <script src="https://kit.fontawesome.com/a2bc7d519c.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="{% static 'School Images/logo-removebg-preview.png' %}" alt="">
            </div> 
            <h3>HOSTALLICA KNUST</h3>
        </div>
    </header>

    <div class="hero">
        <img src="{{ hall.picture.url }}" alt="hall picture">
    </div>

   <!-- <form action="">
        <div class="forms">
            <label for="">Floor</label>
            <input type="text">
            <i class="fa-solid fa-angle-down"></i>
        </div>
    </form> -->
    <div class="forms">
        <label for="">Floor</label>
        <select name="" id="">
            {% for number in hall.floors|get_range %}
            <option value="">{{number}}</option>
            {% endfor %}
        </select>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>Room NUmber</th>
                <th>Capacity</th>
                <th>Hall</th>
                <th>Action</th>
            </tr>
        </thead>
            
        <tbody>{% for room in rooms %}
            <tr>
              <a href="{% url 'student_booking_history' %}">
                  <td>{{room.room_number}}</td>
                  </a>
                <td>{{room.type}}</td>
                <td>{{room.hall}}</td>
                <td><a href="{% url 'student_booking_history' %}">Book</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td>4 in 1</td>
                <td>4,500</td>
                <td>2</td>
                
            </tr>
            
            <tr>
              <a>  <td>4 in 1</td></a>
                <td>4,500</td>
                <td>2</td>
            </tr>
            
            <tr>
                <td>4 in 1</td>
                <td>4,500</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>

</body>
</html>